# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\learn\2109\SimulationStockGo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
